﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Items</h2>
<div ng-controller="HomeController as homeCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Description</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in dataItems">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><button class="btn btn-primary" ng-click="item.open()">View details</button></td>
            </tr>
        </tbody>
    </table>



    <div class="modal fade" id="details-modal" ng-controller="ItemDetailsController as itemCtrl" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{modalTitle()}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">Id:</div>
                        <div class="col-xs-8">{{id}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Name:</div>
                        <div class="col-xs-8">{{name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Description</div>
                        <div class="col-xs-8">{{description}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>